@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,700;1,200&display=swap');

:root {

    /* Colors */
    --clr-primary-300: hsl(350, 100%, 50%);
    --clr-primary-500: hsl(350, 100%, 38%);
    --clr-primary-700: hsl(350, 100%, 31%);
    --clr-primary-900: hsl(350, 100%, 25%);
    --clr-primary-gradient: linear-gradient(to bottom right,
         var(--clr-primary-300),
         var(--clr-primary-500),
         var(--clr-primary-700),
         var(--clr-primary-900)
         ) ;

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-900: hsl(240, 11%, 4%);

    --clr-accent-300: hsl(206, 45%, 45%);
    --clr-accent-500: hsl(206, 100%, 27%);
    --clr-accent-700: hsl(215, 100%, 19%);
    --clr-accent-900: hsl(236, 100%, 11%);

    /* Fonts */
    --ff-primary: 'Kanit', sans-serif;
    
    --fw-light: 200;
    --fw-reg: 400;
    --fw-bold: 700;

    --fs-primary-text: 18px;
    --fs-primary-heading: 32px;
    --fs-secondary-heading: 24px;
    --fs-small-text: 16px;


}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
margin: 0;
font-family: var(--ff-primary);
background: var(--clr-primary-gradient);
font-size: var(--fs-primary-text);
color: var(--clr-accent-900);
height: 100%;
min-height: 100vh;
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    overflow-wrap: break-word;
}

section {
    background: var(--clr-neutral-100);
    border-radius: 3px;
    border: 2px solid var(--clr-accent-900);
    box-shadow: 0rem 0.25rem .5rem var(--clr-neutral-900);   
}

.header-image {
    grid-area: img;
    width: 100%;
    margin: 1em 0 -1em;
}

/* Grid utility for mobile layout */
.container-grid {
    display: grid;
    gap: .5em;
    
    grid-auto-columns: 1fr;
    grid-template-areas:
    'img'
    'one'
    'two'
    'three'
    'four'
   ;  
}

.nav-container {
    position: sticky;
    top: .5em;
    margin: 0 .5em;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    padding: 1em 1em;  
}

.nav-list > li > a {
    color: var(--clr-accent-700);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--fw-reg);
}

.logo {
    grid-area: one;
    font-size: var(--fs-primary-heading);
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    text-align: center;
    margin-top: 1em;
}

.header-subtitle {
    grid-area: two;
    font-weight: var(--fw-light);
    text-align: center;
}

.header-subtitle h2 {
    font-size: var(--fs-primary-text);
    font-weight: var(--fw-light);
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

@media only screen and (min-width: 768px) {
    
    
    .header-image {
        grid-area: img;
        margin: 0 auto -1em;   
    }

    .header-image img {
        margin: 0 auto;     
    }

    /* Grid utility for desktop layout */
    .container-grid {
        grid-template-areas:
        'img img img img img'
        'sidebar one one one one'
        'three three three three three'
        'four four four four four'
        ;
        padding: 0 7em 1em 7em;
    }
     
    .header-subtitle h2 {
        text-align: left;
        font-size: var(--fs-secondary-heading) !important;
    }

    .nav-container {
        grid-area: sidebar;
        margin: 0;
        align-items: flex-start;
    }

    .nav-list {
        flex-direction: column;
        letter-spacing: 1px;
    }

    .header-container {
        grid-area: one;
        padding: 1em;
        align-items: center;
        display: grid;
        grid-template-areas:
        'logo subtitle';
        gap: 1em;
    }

    .logo{
        margin-top: 0;
        grid-area:logo;
    }

    .header-subtitle {
        grid-area: subtitle;
    }

    .header-subtitle h2 {
        padding: 0;
    }

    .comic-container {
        padding: 1rem 3rem 1rem 7rem !important;
    } 

    .comic-nav-list>li>a {
        padding: .5rem 1.5rem !important;
    }   
}

@media only screen and (min-width: 940px) {
    .comic-container {
        padding: 1rem 3rem 1rem 12rem !important;
    } 
}

@media only screen and (min-width: 1275px) {
    .comic-container {
        padding: 1rem 3rem 1rem 15rem !important;
    } 
}

@media only screen and (min-width: 1560px) {
    .comic-container {
        padding: 1rem 3rem 1rem 23rem !important;
    } 
}

.comic-container {
    grid-area: three;
    padding: 1em; 
    margin: 0 1em;  
}

.comic-title {
    padding: .5em;
    border: 2px solid var(--clr-accent-900);
    text-transform: uppercase;
    margin-bottom: 1em;
    
}
.comic-title>h3 {
    text-align: center;
    font-size: var(--fs-secondary-heading);
    font-weight: var(--fw-light);
    letter-spacing: 1px;
}

.comic-nav {
    max-width: 500px;
    margin: 0 auto;
}

.comic-nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em 0;
}

.comic-nav-list>li>a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--fw-light);
    font-size: var(--fs-small-text);
    border: 2px var(--clr-accent-900) solid;
    padding: .5rem .5rem;
    border-radius: 2px;
    color: var(--clr-neutral-100);
    background: var(--clr-accent-500);
    box-shadow: 0rem 0.05rem .25rem var(--clr-neutral-900);
}

.comic-text {
    text-align: center;
}

.comic-text a {
    text-decoration: none;
    font-weight: var(--fw-bold);
    color: var(--clr-accent-700);
}

.footer-container {
    grid-area: four;   
}

.feed-links {
    grid-column: span 3;
    padding: 1em;
    text-align: center;
}

.feed-links a {
    text-decoration: none;
    font-weight: var(--fw-bold);
    color: var(--clr-accent-700);
}

.copyright {
    grid-column: span 3;
    padding: 1em;
    text-align: center;
}

.copyright a {
    text-decoration: none;
    font-weight: var(--fw-bold);
    color: var(--clr-accent-700);
}